@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

/* --------- VARIABLES --------- */
html {
  --grey: #829399;
  --tan: #d2b48c;
  --violet: #4c3b4d;
  --blue: #3b719f;
}

/* ------- VARIABLES END ------- */

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  font-size: 2rem;
  line-height: 1.5;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

.top-nav-list li a:hover {
  text-shadow: 2px -2px 10px var(--tan);
}

/* HERO SECTION  */

.hero-section {
  min-height: 400px;
  background-image: url(img/mac-back.jpeg);
  background-color: var(--blue);
  background-size: auto 100%;
}

.top-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

.top-nav-list li {
  display: inline-block;
  margin-right: 2rem;
}

.nav-left-grid {
  justify-self: start;
}
