@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

/* --------- VARIABLES --------- */
html {
  --grey: #829399;
  --tan: #d2b48c;
  --violet: #4c3b4d;
  --mutedBlue: #3b719f;
  --blue: #3697e4;
  --white: #ffffff;
  --backgroundGrey: #f3f4f5;
}

/* ------- VARIABLES END ------- */

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  background-color: var(--backgroundGrey);
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

h2 {
  font-weight: 400;
  color: var(--white);
}

.top-nav-list li a {
  transition: 1s;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.top-nav-list li a:hover {
  text-shadow: 2px -2px 10px var(--tan);
  border-color: var(--tan);
}

/* HERO SECTION  */

.hero-section {
  min-height: 100vh;
  max-width: 100%;
  /* background-image: url(img/mac-back.jpeg); */
  background-image: url(img/dev-wallpaper.jpg);
  background-color: var(--blue);
  background-size: 100%;
  background-repeat: no-repeat;
}

.top-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 0.05em;
  justify-content: center;
  justify-items: center;
}

.top-nav-list li {
  margin-top: 0.5em;
  display: inline-block;
  margin-right: 2rem;
}

.nav-left-grid {
  justify-self: start;
  margin-left: 2em;
}

.title-block {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-block-text {
  position: absolute;
  top: 42%;
}

.about-section {
  background-image: url(/src/img/wave-coolBlue-copy2.svg);
  min-height: 75vh;
  background-size: cover;
}

.about-block {
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-section {
  min-height: 75vh;
  background-image: url(/src/img/wave-coolBlue-inverse.svg);
  background-size: cover;
}

.project-cards-block {
  width: 90vw;
  margin: auto;
  padding-top: 75px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.05em;
}

.project-card {
  display: inline-block;
  height: 350px;
}

.contact-section {
  min-height: 50vh;
  background-image: url(/src/img/wave-tan.svg);
  background-size: cover;
}

.contact-block {
  width: 90vw;
  margin: auto;
}

footer {
  font-weight: 100;
  font-size: 1rem;
  min-height: 10vh;
  background-image: url(/src/img/wave-tan-inverse.svg);
  background-size: cover;
}

footer div {
  width: 90vw;
  margin: auto;
}
